<app-action-header></app-action-header>
<div class="text-center " style="margin: 5px auto 0;width: 95%;">
  <div class="bg-light1">
    <h2 class="heading">Event and Benificery Details</h2>
  </div>
</div>

<div style="width: 90%;margin:1% auto;border:solid thin lightgray;padding: 1%">
  <div class="row">
    <div class="col-md-6">
      <div class="row blueLine rowstyle">
        <div class="col-md-6">ID: {{eventLists.eventId}}</div>
        <div class="col-md-6">Date:
        
        </div>
      </div>
      <div class="row rowstyle">
        <div class="col-md-12 text-center" style="font-size: 14px;">
          <b>Discriprion Here</b>
          <p>
           {{eventLists.eventDescription}} 
          </p>
        </div>
      </div>
      <div class="row rowstyle" style="background-color:lightgrey">
        <div class="col-md-6 text-center">Status:{{eventLists.status}} </div>
        <div class="col-md-6 text-center">Category: {{eventLists.catagory}}</div>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="row blueLine rowstyle">
        <div class="col-md-6">Location: {{eventLists.baseLocation}} </div>
        <div class="col-md-6">Council: {{eventLists.councilName}}</div>
      </div>
      <div class="row rowstyle">
        <div class="col-md-12 text-center" style="font-size: 14px;">
          <b>Discriprion Here</b>
          <p>
            {{eventLists.eventDescription}}
          </p>
        </div>
      </div>
      <div class="row rowstyle" style="background-color:lightgrey">
        <div class="col-md-6 text-center">Feedbacks: </div>
        <div class="col-md-6 text-center">Average Rating: </div>
      </div>
    </div>
  </div>
</div>

<div style="width: 90%;margin:1% auto;border:solid thin lightgray;padding: 1%">
  <div class="row">
    <div class="col-md-4">
      <div class="row blueLine rowstyle"> Participated</div>
      <div class="row cardrow" >
        <div class="col-md-12 under"> Rating : </div>
        <div class="col-md-12 under"> Likes : </div>
        <div class="col-md-12 under"> Dislikes : </div>        
      </div>
    </div>
    <div class="col-md-4">
      <div class="row blueLine rowstyle"> Not Participated</div>
      <div class="row cardrow" >
        <div class="col-md-12 under"> Unexpected office work </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row blueLine rowstyle"> Unregistered</div>
       <div class="row cardrow" >
        <div class="col-md-12 under"> Not receive further information </div>
      </div>
    </div>
  </div>
</div>

<div style="width: 90%;margin:1% auto;border:solid thin lightgray;padding: 1%">
  <div class="row">
    <div class="col-md-6">
      <div class="row blueLine rowstyle">Statistics</div>
      <div class="row rowstyle">
            <table class="tableData">
              <tr>
                <th>AVERAGE RATING</th>
                <th>VOLUNTEERS</th>
                <th>VOLUNTEERING HOURS</th>
                <th>OVERALL HOURS</th>
                <th>TRAVEL HOURS</th>
                <th>LIVES IMPACTED</th>
              </tr>
              <tr>
                <td>123</td>
                <td>{{123}}</td>
                <td>123</td>
                <td>213</td>
                <td>123</td>
                <td>12323</td>
              </tr>
            </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row blueLine rowstyle">Poc Details</div>
      <div class="row rowstyle">
            <table class="tableData">
              <tr>
                <th>#</th>
                <th>EMPLOYEE ID</th>
                <th>NAME</th>
                <th>CONTACT NUMBER</th>
              </tr>
            <tr>
              <td>123</td>
              <td>123</td>
              <td>123</td>
              <td>213</td>
            </tr>
          </table>
      </div>
    </div>
   </div>
</div>

<!--
<div class="box">
  <div class="box-header">
  <span>EVENT & BENIFICIARY DETAILS </span>
  <div style="float: right">
      <i class="fa fa-refresh" aria-hidden="true"></i>
      <i class="fa fa-minus-circle" aria-hidden="true"></i>
      <i class="fa fa-times-circle" aria-hidden="true"></i>
  </div>
  </div>
  <div class="box-content">
  </div>
  </div>
  <div class="box" style="width: 45%;float: left;">
    <div class="box-header">
    <span>STATISTCS </span>
    </div>
    <div class="box-content">
      <table border="1px solid" style="width: 100%;">
        <th>AVERAGE RATING</th>
        <th>VOLUNTEERS</th>
        <th>VOLUNTEERING HOURS</th>
        <th>OVERALL HOURS</th>
        <th>TRAVEL HOURS</th>
        <th>LIVES IMPACTED</th>
        <tr>
          <td>123</td>
          <td>123</td>
          <td>123</td>
          <td>213</td>
          <td>123</td>
          <td>12323</td>
        </tr>
      </table>
    </div>
    </div>
    <div class="box" style="width: 45%;float: right;">
        <div class="box-header">
        <span>POC DETAILS </span>
        </div>
        <div class="box-content">
          <table border="1px solid" style="width: 100%;">
            <th>#</th>
            <th>EMPLOYEE ID</th>
            <th>NAME</th>
            <th>CONTACT NUMBER</th>
            <tr>
              <td>123</td>
              <td>123</td>
              <td>123</td>
              <td>213</td>
            </tr>
          </table>
        </div>
        </div>-->