
<div class="text-center headStyle" style="padding: 5px;">
  <div class="bg-light1"><!--alert alert-danger-->
    <h2 class="heading">Action</h2>
  </div>
</div>

<div class="row actionBox">
    <div class="col-md-6 col1">
        <div class="row">
            <div class="col-md-2 img1"><img src="../../../assets/img/action_img1.JPG"></div>
            <div class="col-md-10 green">
                <div class="row"><div class="col-md-3"><h6>Email Report</h6></div></div>
                <div class="row">
                    <div class="col-md-12">
                        Employee Id:
                        <input type="text" class="marleft" placeholder="Enter Mail Id">
                        <button type="button" class="btn btn-secondary marleft sendbtn">Send Email</button>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <div class="col-md-6 col2 text-right">
        <div class="row">
            <div class="col-md-10">
                <div class="row orange"><h6 class="text-right h6right">Future Implementations!</h6></div>
                <div class="row orange"><h6 class="text-right ActFontSm h6right">This place holder can be used for adding any other action in future.</h6></div>
            </div>
            <div class="col-md-2 img2"><img src="../../../assets/img/action_img2.JPG"></div>
        </div>
    </div>
</div>