
<!--<div class="container bootstrap snippet">-->
  <div class="row dashMargin">
      
    <div class="col-lg-2 col-sm-6"></div>
    <!--col 1 -->
    <div class="col-lg-2 col-sm-6">
        <div class="tile-content red">
          <div class="tile-description text-faded"> Total Events</div>
          <div class="tile-number text-faded ">{{noOfEvents }}</div>
          <a class="tile-footer" [routerLink]="['/eventlist']" >View Details <i class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>
     <!--col 2 -->
    <div class="col-lg-2 col-sm-6">
        <div class="tile-content orange">
          <div class="tile-description text-faded"> Lives Impacted</div>
          <div class="tile-number text-faded ">-</div>
          <a class="tile-footer"  href="#">View Details <i class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>
    <!--col 3 -->
    <div class="col-lg-2 col-sm-6">
        <div class="tile-content purple">
          <div class="tile-description text-faded"> Total Volunteers</div>
          <div class="tile-number text-faded ">{{noOfVolunteers}}</div>
          <a class="tile-footer" href="#">View Details <i class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>
    <!--col 4 -->
    <div class="col-lg-2 col-sm-6">
        <div class="tile-content dark-gray ">
          <div class="tile-description text-faded"> Total Participents</div>
          <div class="tile-number text-faded ">-</div>
          <a class="tile-footer" href="#">View Details <i class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6"></div>
  </div> 
<!--</div>  -->

<!-- <app-footer></app-footer> -->